<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="text-muted mb-4 text-center">
            <i class="icon-people"></i> <label class="text-uppercase font-weight-bold">Foreman companies list</label>
          </div>
          <div class="h4 mb-0 text-center">{{products.length}}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="text-muted mb-4 text-center">
            <i class="icon-user"></i> <label class="text-uppercase font-weight-bold">Chit release Noticies</label>
          </div>
          <div class="h4 mb-0 text-center">{{items.length}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
